body {
/* background-image: url("../images/marv.jpg"); */
    background-color: red;

}
h1 {
    background-color: black;
    color: white;
}

.hide {
    display: none;
}
#game-questions{
    background-color: black;
    color: white;

}